.apple {
  font-size: 25px;
}

.logo {
  font-family: 'Pacifico';
}

.logoText {
  font-size: 30px;
}

.footer {
  background-color: grey;
  bottom: 0;
  width: 100%;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 25%;
  height: 200px;
  margin-right: 50px;
}
